html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, #002147, #000000), url('background1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.word {
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 6%;
    margin-bottom: 1%;
}

.leaderboard,
.canvas,
.chatbox {
    display: flex;
    background-color: white;
    width: 26.65%;
    height: 60%;
    margin-left: 5%;
    height: 100vh;
    margin-bottom: 10px;
}

.fullpage {
    display: flex;
}